#homeContent {
    width: 100vw;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#textAndModel {
    margin: 0 5rem;

    display: flex;
    align-items: center;
}

#textAndModel babel {
    font-size: 2rem;
}

#textAndModel span {
    background: linear-gradient(45deg, var(--primary-color), var(--gradient));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
}

#fornitureButtons {
    position: relative;
}

@media (min-width: 2099px) {

    #textAndModel p {
        font-size: 3.5rem;
    }

}

@media (max-width: 992px) {
    #textAndModel {
        flex-direction: column;
        text-align: center;
    }

    #fornitureButtons {
        text-align: center;
    }
}

@media (max-width: 768px) {
    
    #textAndModel p {
        font-size: 1.5rem;
    }

    #textAndModel {
        margin: 0 2rem;
    }

}